@page "/Login"
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<h1>Request URL:</h1>@login_url
<br/>
<h1>Request Method:</h1>@login_method
<br/>
<h1>Request Body:</h1><pre>@login_request</pre>
<br/>
<h1>Response:</h1>
<br/>
<pre>
@response
</pre>

@code{
    /*
    Request URL for Login action
    */
    public string login_url = "/index.php?page=api&module=auth&action=login";
    public string login_method = "POST";
    public string login_request = "";
    public string response = "";

    protected override async Task OnAfterRenderAsync(bool firstRender){
        dynamic body = new JObject();
        /*Credentials for Login request*/
        body.CompanyID = "DINOS";
        body.DivisionID = "DEFAULT";
        body.DepartmentID = "DEFAULT";
        body.EmployeeID = "Demo";
        body.EmployeePassword = "Demo";
        body.language = "english";

        /*
        doing request. Request Body is JSON, Response body is JSON
        Response is json like:
        {
            "session_id": "aud8s4l449frcnponmv1ithvoo",
            "companies": [],
            "message": "ok"
        }
        Where session_id is uuid, which used for any other API request
        */
        if(firstRender){
            response = await API.doRequest(this.login_method, this.login_url, this.login_request = body.ToString());
    StateHasChanged();
        }
    }
}
